<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml" xmlns:w16cex="http://schemas.microsoft.com/office/word/2018/wordml/cex" xmlns:w16cid="http://schemas.microsoft.com/office/word/2016/wordml/cid" xmlns:w16="http://schemas.microsoft.com/office/word/2018/wordml" xmlns:w16se="http://schemas.microsoft.com/office/word/2015/wordml/symex" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" mc:Ignorable="w14 w15 w16se w16cid w16 w16cex">
  <w:zoom w:percent="100"/>
  <w:defaultTabStop w:val="708"/>
  <w:characterSpacingControl w:val="doNotCompress"/>
  <w:hdrShapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="2243"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="2"/>
    </o:shapelayout>
  </w:hdrShapeDefaults>
  <w:footnotePr>
    <w:footnote w:id="-1"/>
    <w:footnote w:id="0"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="-1"/>
    <w:endnote w:id="0"/>
  </w:endnotePr>
  <w:compat>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="12"/>
    <w:compatSetting w:name="useWord2013TrackBottomHyphenation" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00A824A0"/>
    <w:rsid w:val="00002CF5"/>
    <w:rsid w:val="0000314B"/>
    <w:rsid w:val="00006AC5"/>
    <w:rsid w:val="0002394A"/>
    <w:rsid w:val="00050DD5"/>
    <w:rsid w:val="000543DF"/>
    <w:rsid w:val="00076923"/>
    <w:rsid w:val="000C5891"/>
    <w:rsid w:val="000E1602"/>
    <w:rsid w:val="00103538"/>
    <w:rsid w:val="00111E67"/>
    <w:rsid w:val="001201B8"/>
    <w:rsid w:val="00137776"/>
    <w:rsid w:val="001444E6"/>
    <w:rsid w:val="00146553"/>
    <w:rsid w:val="00162D95"/>
    <w:rsid w:val="00172F14"/>
    <w:rsid w:val="001902CC"/>
    <w:rsid w:val="001D76AA"/>
    <w:rsid w:val="00203324"/>
    <w:rsid w:val="0021041D"/>
    <w:rsid w:val="002176FA"/>
    <w:rsid w:val="00234F9A"/>
    <w:rsid w:val="0023600A"/>
    <w:rsid w:val="00241B83"/>
    <w:rsid w:val="002472E5"/>
    <w:rsid w:val="00275FD6"/>
    <w:rsid w:val="00290493"/>
    <w:rsid w:val="00291C48"/>
    <w:rsid w:val="00294470"/>
    <w:rsid w:val="002D096B"/>
    <w:rsid w:val="002D5F6B"/>
    <w:rsid w:val="002F68F4"/>
    <w:rsid w:val="00310011"/>
    <w:rsid w:val="00324778"/>
    <w:rsid w:val="0033362E"/>
    <w:rsid w:val="003473E6"/>
    <w:rsid w:val="0035385F"/>
    <w:rsid w:val="00354E99"/>
    <w:rsid w:val="00362D8D"/>
    <w:rsid w:val="0036646E"/>
    <w:rsid w:val="00387968"/>
    <w:rsid w:val="003B3DD1"/>
    <w:rsid w:val="003B69E8"/>
    <w:rsid w:val="003C191B"/>
    <w:rsid w:val="003C48C6"/>
    <w:rsid w:val="003F7AA7"/>
    <w:rsid w:val="00441AEE"/>
    <w:rsid w:val="004550FC"/>
    <w:rsid w:val="0046161D"/>
    <w:rsid w:val="00465916"/>
    <w:rsid w:val="00481D63"/>
    <w:rsid w:val="004F521C"/>
    <w:rsid w:val="00503B31"/>
    <w:rsid w:val="00512432"/>
    <w:rsid w:val="00513DAE"/>
    <w:rsid w:val="00514FCE"/>
    <w:rsid w:val="005162AB"/>
    <w:rsid w:val="00530D5C"/>
    <w:rsid w:val="00535D73"/>
    <w:rsid w:val="005579B8"/>
    <w:rsid w:val="005742BF"/>
    <w:rsid w:val="005953E2"/>
    <w:rsid w:val="00595880"/>
    <w:rsid w:val="005B7F3D"/>
    <w:rsid w:val="005D6908"/>
    <w:rsid w:val="005D7E4A"/>
    <w:rsid w:val="005E1550"/>
    <w:rsid w:val="005F1AE0"/>
    <w:rsid w:val="005F256E"/>
    <w:rsid w:val="005F5A2F"/>
    <w:rsid w:val="00632084"/>
    <w:rsid w:val="00644174"/>
    <w:rsid w:val="00661C4C"/>
    <w:rsid w:val="00684E0C"/>
    <w:rsid w:val="006A74E2"/>
    <w:rsid w:val="006A7799"/>
    <w:rsid w:val="006C5526"/>
    <w:rsid w:val="006D42BC"/>
    <w:rsid w:val="006D4D44"/>
    <w:rsid w:val="006E5D03"/>
    <w:rsid w:val="006F1627"/>
    <w:rsid w:val="006F2EF2"/>
    <w:rsid w:val="00744FCB"/>
    <w:rsid w:val="00746C64"/>
    <w:rsid w:val="007561BA"/>
    <w:rsid w:val="0076686A"/>
    <w:rsid w:val="0077247A"/>
    <w:rsid w:val="00786365"/>
    <w:rsid w:val="007878FA"/>
    <w:rsid w:val="00795A3D"/>
    <w:rsid w:val="007A760B"/>
    <w:rsid w:val="007F2F85"/>
    <w:rsid w:val="00806D9F"/>
    <w:rsid w:val="00820052"/>
    <w:rsid w:val="008443F9"/>
    <w:rsid w:val="00874851"/>
    <w:rsid w:val="0088348D"/>
    <w:rsid w:val="008C302E"/>
    <w:rsid w:val="008D037E"/>
    <w:rsid w:val="0093746C"/>
    <w:rsid w:val="00940376"/>
    <w:rsid w:val="00963271"/>
    <w:rsid w:val="009651C6"/>
    <w:rsid w:val="0097597B"/>
    <w:rsid w:val="009916DB"/>
    <w:rsid w:val="00992CA9"/>
    <w:rsid w:val="009C04C5"/>
    <w:rsid w:val="009C78A6"/>
    <w:rsid w:val="009D217C"/>
    <w:rsid w:val="009D612C"/>
    <w:rsid w:val="009F15F9"/>
    <w:rsid w:val="009F3674"/>
    <w:rsid w:val="009F6C68"/>
    <w:rsid w:val="009F7F0B"/>
    <w:rsid w:val="00A025B3"/>
    <w:rsid w:val="00A20105"/>
    <w:rsid w:val="00A323A7"/>
    <w:rsid w:val="00A505FA"/>
    <w:rsid w:val="00A5797D"/>
    <w:rsid w:val="00A824A0"/>
    <w:rsid w:val="00A919AF"/>
    <w:rsid w:val="00A974B3"/>
    <w:rsid w:val="00AD6322"/>
    <w:rsid w:val="00AD6579"/>
    <w:rsid w:val="00B01164"/>
    <w:rsid w:val="00B14597"/>
    <w:rsid w:val="00B31D71"/>
    <w:rsid w:val="00B65F4C"/>
    <w:rsid w:val="00B71326"/>
    <w:rsid w:val="00B74652"/>
    <w:rsid w:val="00B86620"/>
    <w:rsid w:val="00B92F1A"/>
    <w:rsid w:val="00B97B31"/>
    <w:rsid w:val="00BA3FBB"/>
    <w:rsid w:val="00BA6A48"/>
    <w:rsid w:val="00BB3817"/>
    <w:rsid w:val="00BC2C43"/>
    <w:rsid w:val="00BD3DB4"/>
    <w:rsid w:val="00BF3EE0"/>
    <w:rsid w:val="00C054A7"/>
    <w:rsid w:val="00C139F4"/>
    <w:rsid w:val="00C144AC"/>
    <w:rsid w:val="00C223C9"/>
    <w:rsid w:val="00C26882"/>
    <w:rsid w:val="00C270D7"/>
    <w:rsid w:val="00C419C5"/>
    <w:rsid w:val="00C56E7F"/>
    <w:rsid w:val="00C607A3"/>
    <w:rsid w:val="00C8005E"/>
    <w:rsid w:val="00C80300"/>
    <w:rsid w:val="00C8714C"/>
    <w:rsid w:val="00C94C59"/>
    <w:rsid w:val="00CB29A2"/>
    <w:rsid w:val="00CB3866"/>
    <w:rsid w:val="00CC52DF"/>
    <w:rsid w:val="00D255F3"/>
    <w:rsid w:val="00D32E3D"/>
    <w:rsid w:val="00D4285F"/>
    <w:rsid w:val="00D464DB"/>
    <w:rsid w:val="00D73603"/>
    <w:rsid w:val="00D7380C"/>
    <w:rsid w:val="00D73F56"/>
    <w:rsid w:val="00D837CE"/>
    <w:rsid w:val="00DC54FA"/>
    <w:rsid w:val="00DC71D0"/>
    <w:rsid w:val="00DD0A18"/>
    <w:rsid w:val="00DF0C18"/>
    <w:rsid w:val="00DF25AA"/>
    <w:rsid w:val="00DF51E7"/>
    <w:rsid w:val="00DF583C"/>
    <w:rsid w:val="00E27AF0"/>
    <w:rsid w:val="00E304DA"/>
    <w:rsid w:val="00E51510"/>
    <w:rsid w:val="00E526D2"/>
    <w:rsid w:val="00E54205"/>
    <w:rsid w:val="00E81DA8"/>
    <w:rsid w:val="00E83503"/>
    <w:rsid w:val="00E85E8A"/>
    <w:rsid w:val="00E87E56"/>
    <w:rsid w:val="00E942E9"/>
    <w:rsid w:val="00EA1BC5"/>
    <w:rsid w:val="00EA26C9"/>
    <w:rsid w:val="00EA39C2"/>
    <w:rsid w:val="00EE30A3"/>
    <w:rsid w:val="00EF1C83"/>
    <w:rsid w:val="00EF3342"/>
    <w:rsid w:val="00F27C5B"/>
    <w:rsid w:val="00F64A6D"/>
    <w:rsid w:val="00F863E0"/>
    <w:rsid w:val="00F91CD7"/>
    <w:rsid w:val="00F951AA"/>
    <w:rsid w:val="00F97B8B"/>
    <w:rsid w:val="00FB7949"/>
    <w:rsid w:val="00FD11CF"/>
    <w:rsid w:val="00FE4504"/>
    <w:rsid w:val="00FE7264"/>
    <w:rsid w:val="00FF7E3C"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="ru-RU"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="2243"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:decimalSymbol w:val=","/>
  <w:listSeparator w:val=";"/>
  <w15:docId w15:val="{C2D043AE-B8F5-46F8-8BA8-C6E8A6622010}"/>
</w:settings>
